.landing-sec {
  min-height: 86vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
}

.pic {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 0 !important;
}

.right-pic {
  position: absolute;
  top: 0;
  z-index: -2;
  height: calc(86vh + 80px);
  right: 0;
}

.full-height {
  height: 100%;
}

.pic-course {
  height: 100%;
  width: 24vw;
  margin: 0 auto;
}

.image-sec {
  height: 50vh;
  width: 70vw;
  margin: 0 auto;
  margin-top: 25vh;
}

.header-courses-section {
  font-family: "CircularStd-Black";
  line-height: 1.3em;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

span.underline {
 border-bottom: 7px solid #FD0608;
 display:block;
 margin-top: 16px;
}

.card-main {
  height: 40%;
  margin-top: 27vh;
  width: 24vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.left-text {
  padding: 0 !important;
}

.highlighted {
  border-bottom: 8px solid red;
  font-style: normal;
}

.second-section {
  width: 100vw;
  height: 60vh;
  background-color: #FFF9EF;
  margin: 0 !important;
  position: relative;
  // opacity: 0.5;
}

.link-nav-container {
  height:64px;
  float: right;
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}

.card-title-second-section {
  font-family: "CircularStd-Black";
  position: absolute;
  bottom: 0;
  left: 15px;
  color: white;
  font-size: 30px;
}


.third-section {
  height: 90vh;
  position: relative;
}
